<meta charset="utf-8" />
<title>Source Code Checking</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
<link href="@Url.Assets("global/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Assets("global/plugins/simple-line-icons/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Assets("global/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Assets("global/plugins/uniform/css/uniform.default.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Assets("global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="@Url.Assets("global/plugins/bootstrap-daterangepicker/daterangepicker.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Assets("global/plugins/morris/morris.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Assets("global/plugins/fullcalendar/fullcalendar.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Assets("global/plugins/jqvmap/jqvmap/jqvmap.css")" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN Code Mirror -->

<link href="@Url.Assets("global/plugins/codemirror/lib/codemirror.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Assets("global/plugins/codemirror/theme/lesser-dark.css")" rel="stylesheet" />
<link href="@Url.Assets("global/plugins/codemirror/theme/icecoder.css")" rel="stylesheet" />
<link href="@Url.Assets("global/plugins/codemirror/theme/seti.css")" rel="stylesheet" />
<!-- END Code Mirror -->
<!-- BEGIN THEME GLOBAL STYLES -->
<link href="@Url.Assets("global/css/components-md.min.css")" rel="stylesheet" id="style_components" type="text/css" />
<link href="@Url.Assets("global/css/plugins-md.min.css")" rel="stylesheet" type="text/css" />

<!-- BEGIN THEME LAYOUT STYLES -->
<link href="@Url.Assets("layouts/layout/css/layout.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Assets("layouts/layout/css/themes/darkblue.min.css")" rel="stylesheet" type="text/css" id="style_color" />
<link href="@Url.Assets("layouts/layout/css/custom.min.css")" rel="stylesheet" type="text/css" />

<link href="@Url.Assets("apps/css/demoCSS.css")" rel="stylesheet" />

<!-- END THEME LAYOUT STYLES -->
<link rel="shortcut icon" href="favicon.ico" />