@using WebClientCore.Infrastructures
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Source Code Plagiarism Checking</title>
<link rel="icon" href="@Url.Assets("apps/img/logo-admin.png")" type="image/png">
<link rel="stylesheet" href="@Url.Assets("vendors/fontawesome/css/all.min.css")">

<link rel="stylesheet" href="@Url.Assets("global/plugins/font-awesome/css/font-awesome.min.css")"  type="text/css" />
<link rel="stylesheet" href="@Url.Assets("global/plugins/simple-line-icons/simple-line-icons.min.css")"  type="text/css" />
<link rel="stylesheet" href="@Url.Assets("vendors/bootstrap/bootstrap.min.css")">

<link rel="stylesheet" href="@Url.Assets("vendors/themify-icons/themify-icons.css")">
<link rel="stylesheet" href="@Url.Assets("vendors/linericon/style.css")">
<link rel="stylesheet" href="@Url.Assets("vendors/owl-carousel/owl.theme.default.min.css")">
<link rel="stylesheet" href="@Url.Assets("vendors/owl-carousel/owl.carousel.min.css")">
<link rel="stylesheet" href="@Url.Assets("global/plugins/datatables/datatables.min.css")"  type="text/css"/>
<link rel="stylesheet" href="@Url.Assets("global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")"  type="text/css"/>


<link rel="stylesheet" href="@Url.Assets("css/style.css")">

<link rel="stylesheet" href="@Url.Assets("global/plugins/codemirror/lib/codemirror.css")">
<link rel="stylesheet" href="@Url.Assets("global/plugins/morris/morris.css")">
<link rel="stylesheet" href="@Url.Assets("global/plugins/uniform/css/uniform.default.css")"  type="text/css" />
<link rel="stylesheet" href="@Url.Assets("global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")" type="text/css"   />
<link rel="stylesheet" href="@Url.Assets("global/plugins/bootstrap-select/css/bootstrap-select.min.css")">


<link rel="stylesheet" href="@Url.Assets("global/css/components-md.min.css")" id="style_components" />
<link rel="stylesheet" href="@Url.Assets("global/css/plugins-md.min.css")" />

<link rel="stylesheet" href="@Url.Assets("apps/css/demoCSS.css")">
<link rel="stylesheet" href="@Url.Assets("apps/css/uploadCustom.css")" />
